body {
  --color-green: #37c597;
  --color-separators: #e9ecf1;
  --color-icons: #657686;
  --color-bg: #f4f8fb;
  --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  font-family: var(--system-font);
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  --page-background: #f4f8fb;
  --header-height: 43px;
  background: var(--page-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.page {
  min-height: var(--viewport-height);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.white_back {
  background: #ffffff;
}
.hover_page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: var(--viewport-height);
  overflow: scroll;
}
